<style>
    .image-gallery {overflow: auto; margin-left: -1%!important;}
    .image-gallery li {float: left; display: block; margin: 0 0 1% 1%; width: 19%;}
    .image-gallery li a {text-align: center; text-decoration: none!important; color: #777;}
    .image-gallery li a span {display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; padding: 3px 0;}
    .image-gallery li a img {width: 100%; display: block;}
  </style>


// List the objects in the specified bucket and prefix
result, err := svc.ListObjectsV2(&s3.ListObjectsV2Input{
    Bucket:  aws.String("0-go4wd-dam"),
    Prefix:  aws.String("acct-01/user-02/")
})

if err != nil {
    fmt.Println("Error", err)
    return
}

var imageFiles []string
for _, object := range result.Contents {
    imageFiles = append(imageFiles, *object.Key)    

  
  {{ $dir := imageFiles }}
  <ul class="image-gallery">
  {{ range (readDir (print "/static")) $dir }}
  {{- $image := resources.Get (printf "%s/%s" $dir .objects) -}}
  {{- $imageurl := printf "%s/%s" $dir .objects -}}
  {{- $imagetitle := index (split .objects ".") 0 -}}
    <li>
      <a href="{{ ($image.Fit "1600x1600 q50").Permalink }}" title="{{ $imagetitle }}" class="lightbox-image">
        <img src="{{ ($image.Fill "300x300 q50").Permalink }}" alt="{{ $imagetitle }}" title="{{ $imagetitle }}">
        <span>{{ $imagetitle }}</span>
      </a>
    </li>
  
  {{ end }}
  </ul>
  
